/* line 17, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 10, ../../public-source/stylesheets/general/general.scss */
html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden; }

/* line 17, ../../public-source/stylesheets/general/general.scss */
section {
  display: inline-block; }

/* line 21, ../../public-source/stylesheets/general/general.scss */
h2 {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 300;
  color: white; }

/* line 28, ../../public-source/stylesheets/general/general.scss */
a {
  text-decoration: none; }

/* line 1, ../../public-source/stylesheets/construct/module/section.scss */
section {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: #0f0f0f; }

/* line 1, ../../public-source/stylesheets/construct/module/loaders.scss */
.chrome-check {
  display: none;
  opacity: 0.96; }
  /* line 4, ../../public-source/stylesheets/construct/module/loaders.scss */
  .chrome-check .content {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    width: 900px;
    opacity: 0.9;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    /* line 14, ../../public-source/stylesheets/construct/module/loaders.scss */
    .chrome-check .content .image-holder {
      display: block;
      position: relative;
      height: 100px;
      width: 100px;
      margin: 0 auto;
      margin-top: 20px; }
      /* line 21, ../../public-source/stylesheets/construct/module/loaders.scss */
      .chrome-check .content .image-holder img {
        width: 100%; }
    /* line 25, ../../public-source/stylesheets/construct/module/loaders.scss */
    .chrome-check .content .text-holder {
      display: block;
      width: 350px;
      margin: 0 auto;
      margin-top: 40px; }
      /* line 30, ../../public-source/stylesheets/construct/module/loaders.scss */
      .chrome-check .content .text-holder h2 {
        line-height: 16px; }
    /* line 34, ../../public-source/stylesheets/construct/module/loaders.scss */
    .chrome-check .content .chrome-button {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -175px;
      width: 350px;
      height: 40px;
      background: white;
      text-align: center;
      line-height: 35px; }
      /* line 46, ../../public-source/stylesheets/construct/module/loaders.scss */
      .chrome-check .content .chrome-button h2 {
        color: black;
        font-size: 16px;
        z-index: 99; }
      /* line 52, ../../public-source/stylesheets/construct/module/loaders.scss */
      .chrome-check .content .chrome-button .chrome-hover {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
        height: 4px;
        background: #e55744;
        -webkit-transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -o-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;
        z-index: 1; }
      /* line 65, ../../public-source/stylesheets/construct/module/loaders.scss */
      .chrome-check .content .chrome-button:hover .chrome-hover {
        height: 7px;
        -webkit-transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -o-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out; }

/* line 74, ../../public-source/stylesheets/construct/module/loaders.scss */
.chrome-background {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%; }
  /* line 80, ../../public-source/stylesheets/construct/module/loaders.scss */
  .chrome-background img {
    width: 100%; }
