/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 14, ../../public-source/stylesheets/general/general.scss */
html, body {
  height: 100%;
  width: 100%;
  background: #ecf0f1;
  overflow: hidden; }

/* line 21, ../../public-source/stylesheets/general/general.scss */
section {
  display: inline-block; }

/* line 1, ../../public-source/stylesheets/construct/module/buttons.scss */
.buttons {
  position: absolute;
  top: 30px; }
  /* line 4, ../../public-source/stylesheets/construct/module/buttons.scss */
  .buttons .nav-button {
    margin-left: 30px; }
    /* line 6, ../../public-source/stylesheets/construct/module/buttons.scss */
    .buttons .nav-button .nav-button-item {
      display: inline-block;
      width: 100%;
      max-width: 50px;
      opacity: 0.1;
      padding: 10px; }
      /* line 12, ../../public-source/stylesheets/construct/module/buttons.scss */
      .buttons .nav-button .nav-button-item:hover {
        opacity: 1;
        -moz-transition: opacity 0.15s ease-in-out;
        -o-transition: opacity 0.15s ease-in-out;
        -webkit-transition: opacity 0.15s ease-in-out;
        transition: opacity 0.15s ease-in-out; }
      /* line 16, ../../public-source/stylesheets/construct/module/buttons.scss */
      .buttons .nav-button .nav-button-item img {
        height: auto;
        max-width: 100%;
        text-align: middle; }

/* line 25, ../../public-source/stylesheets/construct/module/buttons.scss */
.sound-control {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  opacity: 0.2; }
  /* line 32, ../../public-source/stylesheets/construct/module/buttons.scss */
  .sound-control:hover {
    opacity: 1;
    -moz-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out; }
  /* line 36, ../../public-source/stylesheets/construct/module/buttons.scss */
  .sound-control .sound {
    width: 40px;
    height: 40px; }
