////////////////////////////
// COLOR SCHEMES ///////////
////////////////////////////

$black: rgb(15, 15, 15);
$red: rgb(229, 87, 68);

// Everyone obey's the general first

html,body {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

section {
  display: inline-block;
}

h2 {
  font-family: "Raleway";
  font-size: 11px;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
}

h3 {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 800;
  color: white;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}
