.chrome-check {
    display: none;
    opacity: 0.96;
  .content {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    width: 900px;
    opacity:0.9;
    @include transform(translate(-50%,-50%));

    .image-holder {
      display: block;
      position: relative;
      height: 100px;
      width: 100px;
      margin: 0 auto;
      margin-top:20px;
      img {
        width:100%;
      }
    }
    .text-holder {
      display:block;
      width:350px;
      margin: 0 auto;
      margin-top:40px;
      h2 {
        line-height: 16px;
      }
    }
    .chrome-button {
      display:block;
      position:absolute;
      bottom:0;
      left: 50%;
      margin-left: -175px;
      width: 350px;
      height: 40px;
      background: white;
      text-align: center;
      line-height: 35px;
      
      h2 {
        color:black;
        font-size: 16px;
        z-index: 99;
      }

      .chrome-hover {
        display: block;
        position: absolute;
        bottom:0;
        left: 0;
        width: 350px;
        height: 4px;
        background:$red;
        @include transition(height .3s ease-in-out);
        z-index: 1;
      }

      &:hover {
        .chrome-hover{
          height: 7px;
          @include transition(height .3s ease-in-out);
        }
      }
    }
  }
}

.chrome-background {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
  }
}

